body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  background-color: #f9f8fd!important;
}
.teacher-compensation h2 {
  padding: 25px 0;
}
.bg-blue {
  background-color: #4640e0;
  color: #fff;
}

.transparent,
.transparent:hover,
.transparent:focus:not(:focus-visible) {
  background: transparent;
  border: navajowhite;
  color: #000;
}

/* =============================== */
.wraper-icon {
  padding: 10px;
  background: #fff;
  /* -webkit-filter: invert(100%);
  filter: invert(100%); */
  transition: color 1s;
}

/* .wraper-icon svg {
  -webkit-filter: invert(100%);
  filter: invert(100%);
} */

/* ================================ */
.form-control.gap-rit {
  padding-right: 35px;
}
.pos-rit {
  position: relative;
  bottom: 32px;
  left: 81%;
}

.icon-with-shadow,
[class^="svg-"] {
  color: #0d6efd;
}
.icon-with-shadow:hover {
  filter: drop-shadow(2px 2px 0px #ccc);
  cursor: pointer;
}

.radio-button input[type="radio"] {
  display: none;
}      
.radio-button label {
  display: inline-block;
  background-color: #d1d1d1;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}      
.radio-button input[type="radio"]:checked+label {
  background-color: #76cf9f;
}

.time-table-row {
  border: 1px solid #cccccc6b;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.time-table-row .accordin-header:hover {
  box-shadow: 0px 3px 5px 2px #ccc;
}
.time-table-row dl {
  margin-bottom: 0;
}
.time-table-row .active {
  border-right: 4px solid rgb(17, 136, 17);
}

.time-table-row .active .wraper-icon svg {
  color:rgb(17, 136, 17)
}

.time-table-row .skiped {
  border-right: 4px solid rgb(190, 17, 17);
}

.time-table-row .skiped .wraper-icon svg {
  color:rgb(190, 17, 17);
}

.old-timeline h5 [class^="svg-"]{
  color: #ccc;
}